<script src="/assets/js/load.js"></script>

<div class="wrapper">
  <div class="row">
    <div class="col-lg-12 top-card">
      <!-- Motion -->
      <div id="motion-div"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6 card">
      <!-- Bars -->
      <div id="bars-div"></div>
    </div>

    <div class="col-lg-6 card">
      <!-- Circle -->
      <div id="circle-div"></div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-6 card">
      <!-- Radar -->
      <div id="radar-div"></div>
    </div>
  </div>
</div>
