
<div class="svgHolder">
  <button id="restart">Restart</button>
  <p id="chart"></p>
</div>



<script>
// Various accessors that specify the four dimensions of data to visualize.
function x(d) { return d.expenses; }
function y(d) { return d.degree; }
function radius(d) { return d.enrollment; }
function color(d) { return d.level; }
function key(d) { return d.name; }


// Chart dimensions.
var margin = {top: 19.5, right: 20.5, bottom: 29.5, left: 59.5},
  width = 960 - margin.right,
  height = 500 - margin.top - margin.bottom;

// Various scales. These domains make assumptions of data, naturally.
var xScale = d3.scale.linear().domain([-1000, 50000]).range([0, width]),
  yScale = d3.scale.linear().domain([-1000, 32000]).range([height, 0]),
  radiusScale = d3.scale.sqrt().domain([0, 381000]).range([0, 30]),
  colorScale = d3.scale.category10();

// The x & y axes.
var xAxis = d3.svg.axis().orient("bottom").scale(xScale).ticks(9, d3.format(",d")),
  yAxis = d3.svg.axis().scale(yScale).orient("left");

// Create the SVG container and set the origin.
var svg = d3.select("#chart").append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
.append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// Add the x-axis.
svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

// Add the y-axis.
svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

// Add an x-axis label.
svg.append("text")
    .attr("class", "x label")
    .attr("text-anchor", "end")
    .attr("x", width)
    .attr("y", height - 6)
    .text("Expenses");

    // Add a y-axis label.
  svg.append("text")
      .attr("class", "y label")
      .attr("text-anchor", "end")
      .attr("y", 6)
      .attr("dy", ".75em")
      .attr("transform", "rotate(-90)")
      .text("Degrees");

  // Add the year label; the value is set on transition.
  var label = svg.append("text")
      .attr("class", "year label")
      .attr("text-anchor", "end")
      .attr("y", height - 24)
      .attr("x", width)
      .text(2006);

/****************************
* Use the data
****************************/

// Load the data.
d3.csv("google.csv", function(schoolData) {

  // A bisector since many nation's data is sparsely-defined.
  var bisect = d3.bisector(function(d) { return d[0]; });

  // Add a dot per school. Initialize the data at 2006, and set the colors.
  var dot = svg.append("g")
      .attr("class", "dots")
    .selectAll(".dot")
      .data(interpolateData(2006))
    .enter().append("circle")
      .attr("class", "dot")
      .style("fill", function(d) {return colorScale(color(d)); })
      .style("stroke", "black")
      .call(position)
      .sort(order);

var button = d3.select("#restart");
button.on("click", function () {
  svg.transition()
      .duration(2000)
      .ease("linear")
      .tween("year", tweenYear)
      .each("end", enableInteraction);
})

dot.on("click", function(d) {
  alert(d.name + "\ndegree: " + d.degree + "\nexpenses: " + d.expenses + "\nyear: " + d.year
        + "\nindex: " + d.i);
})


  // Add a title.
  dot.append("title")
      .text(function(d) { return d.name; });

  // Add an overlay for the year label.
  var box = label.node().getBBox();

  var overlay = svg.append("rect")
        .attr("class", "overlay")
        .attr("x", box.x)
        .attr("y", box.y)
        .attr("width", box.width)
        .attr("height", box.height)
        .on("mouseover", enableInteraction);


  // Start a transition that interpolates the data based on year.
  svg.transition()
      .duration(2000)
      .ease("linear")
      .tween("year", tweenYear)
      .each("end", enableInteraction);
  //Positions the dots based on data.
  function position(dot) {
    dot .attr("cx", function(d) { return xScale(x(d)); })
        .attr("cy", function(d) { return yScale(y(d)); })
        .attr("r", function(d) { return radiusScale(radius(d)); });
  }

  // Defines a sort order so that the smallest dots are drawn on top.
  function order(a, b) {
    return radius(b) - radius(a);
  }

  // After the transition finishes, you can mouseover to change the year.
  function enableInteraction() {
    var yearScale = d3.scale.linear()
        .domain([2006, 2013])
        .range([box.x + 10, box.x + box.width - 10])
        .clamp(true);

    // Cancel the current transition, if any.
    svg.transition().duration(0);

    overlay
        .on("mouseover", mouseover)
        .on("mouseout", mouseout)
        .on("mousemove", mousemove)
        .on("touchmove", mousemove);

    function mouseover() {
      label.classed("active", true);
    }

    function mouseout() {
      label.classed("active", false);
    }

    function mousemove() {
      displayYear(yearScale.invert(d3.mouse(this)[0]));
    }
  }

  // Tweens the entire chart by first tweening the year, and then the data.
  // For the interpolated data, the dots and label are redrawn.
  function tweenYear() {
    var year = d3.interpolateNumber(2006, 2013);
    return function(t) { displayYear(year(t)); };
  }

  // Updates the display to show the specified year.
  // called by tweenYear
  function displayYear(year) {
    dot.data(interpolateData(year), key).call(position).sort(order);
    label.text(Math.round(year));
  }

  // called by displayYear and dot.data
  function interpolateData(year) {
    //create a new array from current one
    return schoolData.map(function(d, i) {
      if (Math.round(year) == d.year) {
        return {
          name: d.name,
          level: d.level,
          expenses: d.expenses,//smoothDataEx(schoolData, i, year),
          enrollment: d.enrollment,//smoothDataEn(schoolData, i, year),
          degree: d.degree//smoothDataDeg(schoolData, i, year),
        };
      } else {
        return {
          name: "nobody",
          level: d.level,
          expenses: 0,//interpolateValues(d, year).expenses,
          enrollment: 0,//interpolateValues(d, year).enrollment,
          degree: 0
        }
      }

    });
  }


  function smoothDataEx(values, index, year) {
    //find the right index
    if (values[index].year == Math.floor(year)) {
      // if the year is not the last year
      if (Math.floor(year) < 2013) {
        var current = values[index];
        var after = values[index + 1];
        var t = (year - current.year)

        var data;
        if (t == 0) {
          data = current.expenses;
        } else if (current.expenses > after.expenses) {
          data = after.expenses * (1 + t) + current.expenses * t;
        } else {
          data = after.expenses * (1 - t) + current.expenses * t;
        }
        return data;
      } else {
        return values[index].expenses;
      }

    } else {
      return 0;
    }
  }

  function smoothDataEn(values, index, year) {
    //find the right index
    if (values[index].year == Math.floor(year)) {
      // if the year is not the last year
      if (Math.floor(year) < 2013) {
        var current = values[index];
        var after = values[index + 1];
        var t = (year - current.year);
        if (current.enrollment > after.enrollment) {
          t = t * -1;
        }
        var data;
        if (t == 0) {
          data = current.enrollment;
        } else {
          data = after.enrollment * (1 - t) + current.enrollment * t;
        }
        return data;
      } else {
        return values[index].enrollment;
      }

    } else {
      return 0;
    }
  }

  function smoothDataDeg(values, index, year) {
    //find the right index
    if (values[index].year == Math.floor(year)) {
      // if the year is not the last year
      if (2013 > Math.floor(year)) {
        var current = values[index];
        var after = values[index + 1];
        var t = (year - current.year);
        if (current.degree > after.degree) {
          t = t * -1;
        }
        var data
        if (t == 0) {
          data = current.degree;
        } else {
          data = after.degree * (1 - t) + current.degree * t;
        }
        return data;
      } else {
        return values[index].degree;
      }

    } else {
      return 0;
    }
  }
  /*****************************************/
  // This is for an array of years containing an
  // array of countries
  /*****************************************/
  //Finds (and possibly interpolates) the value for the specified year.
  function interpolateValues(values, year) {
    // find the index of where the year will be added, add year, between 0 and the end of the array
    var i = bisect.left(values, year, 0, values.length - 1),
        //after year
        a = values[i];
    // if the index isn't the first one in the array
    // go to the value before
    // use 't' to interpolate data
    if (i > 0) {
      //before
      var b = values[i - 1],
          t = (year - a[0]) / (b[0] - a[0]);
      return a[1] * (1 - t) + b[1] * t;
    }
    return a[1];
  }
});

</script>
